/* Selectors */
a:hover div:nth-child(2) {
  color: red;
}

/* position: relative */
#position-relative{
    position: relative;
    top:50px;
    left:50px;
}
#position-relative-2{
    position: relative;
    top:50px;
    left:500px;
}
#position-absolute{
    position: absolute;
    top:100px;
}
#position-sticky{
    position: sticky;
    top:100px;
    left:1000px;
}

/* position: float */
#position-float-right{
    position: float;
    float: right;
}
#position-float-left{
    position: float;
    float: left;
}
.clear-left{
    clear:left;
}
.clear-both{
    clear:both;
}

/* display: flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;
}
.flex-item-1{
    flex-grow:1;
    background-color:red
}
.flex-item-2{
    flex-grow:1;
    flex-basis: 120px;
}
.flex-item-3{
    flex-grow:2;
    background-color:aquamarine
}

/* display: grid */
.grid-container {
    display: grid;
    grid-template-columns: [col-1-start] 50px [line2] 150px [line3] auto [end];
    grid-template-rows: repeat(3,50px);
    grid-row-gap: 15px;
    align-content: center;
}

.grid-item-1{
    border:solid 1px red;
    grid-column:col-1-start/line2;
    grid-row:span 1
}
 .grid-item-2{
    border:solid 1px green;
    grid-column:2/span 2;
    grid-row:span 2
}
.grid-item-3{
    border:solid 1px blue;
    grid-column:col-1-start/span 3;
    grid-row:3
}

/* clear fix*/
.clear-fix-container{
    border: 3px solid #4CAF50;
    padding: 5px;
}
.clear-fix-item{
    float: right;
}
.clearfix{
    content: "";
    clear: both;
    display: inline-block;
}

/* basic styles */
*{
    font-family: Arial, Helvetica, sans-serif;
}

.div-box{
    border:solid 1px grey;
    height: 400px;
    width: 400px;
}
.div-box-in{
    border:solid 1px red;
    height: 100px;
    width: 100px;
}